.mainContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 64px;
  }
  
  .dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
  }
  
  .header {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #931f9c;
  }
  
  .bio {
    text-align: center;
    color: #1D3557;
    margin-top: 16px;
  }
  
  .waveButton {
    cursor: pointer;
    margin-top: 16px;
    padding: 8px;
    border: 0;
    border-radius: 60px;
    
  }
  
  .input {
    margin-top: 16px;
    padding: 8px;
    border: 0;
    border-radius: 60px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
    font-size: 10px;
    text-align: center;
    
  }